.item {
    height: 220px;
    width: 95%;
    margin: 0.8rem 0.5rem;
    border-radius: 16px;
    background-color: #FFEBE0;
    display: flex;

    /* flex-wrap: nowrap; */

}


.slick-track,
.slick-slide {
    display: flex;
    height: auto;
    align-items: center;
    justify-content: center;
}

.slick-next,
.slick-prev {
    padding: 10px;
    width: 20px;
    height: 20px;
    z-index: 100;
}

.slick-next:before, .slick-prev:before{
    font-size: 30px;
    color:#14181F
}

.slick-next {
    right: 30px;
}


.slick-prev {
    left: 30px
}




.item-op {
    width: 60%;
    margin: 1rem 1.5rem;
    /* display: inline-flexbox; */
}



.item-1 {
    position: relative;
    width: 50%;
    display: inline-flex;
    justify-content: flex-end;
    border-bottom-right-radius: 16px;
    border-top-right-radius: 16px;
}

.item-1 img {
    height: 100%;
    width: 100%;
    border-bottom-right-radius: 16px;
    border-top-right-radius: 16px;

}

.item-2 {
    position: relative;
    width: 50%;
    display: inline-flex;
    justify-content: flex-end;
    border-bottom-right-radius: 16px;
    border-top-right-radius: 16px;
    background-color: #FFEBE0;
}

.item-2 img {
    position: relative;
    height: 50%;
    width: 50%;
    margin: 0rem 0.5rem;
    margin-block-start: 4rem;
    margin-block-end: 4rem;
    z-index: 100;



}

.img-3 {
    transform: scale(-1, 1);
}

.vector {
    width: 40px;
    height: 40px;
}

.h3Svg {
    position: relative;
    top: -35%;
    z-index: 100;
}

.pSvg {
    position: relative;
    top: -20%;
    z-index: 100;
}
