.card-blog {
    max-width: min-content;
  
    &__image {
      max-height: 316px;
      img {
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
      }
    }
    &__need-info {
      padding: 16px 26px;
      border: 1px solid rgba(89, 107, 134, 1);
    }
    &__buttons {
      display: flex;
      > div {
        flex: 1;
        display: flex;
        align-items: center;
        img {
          margin-right: 8px;
        }
      }
    }
    &__title {
      margin-top: 8px;
    }
    &__desc {
      margin-top: 10px;
      margin-bottom: 20px;
    }
    &__link {
    }
}
  
  